@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color:#fafafa; 
}

 img{
    padding-left: .6cm;
}

.navbar ul{
    list-style-type: none;
    background-color:#24262b;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    font-family: poppins;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    padding-left:.7cm;
    font-size: 15px;
   
}
.navbar a:hover{
    background-color: #000000;
}
.navbar li{
    float: left;
}

.aboutus h1{
    font-family: 'poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    padding-top: .5cm;
}
.aboutus p{
    text-align: center;
    padding-top: .5cm;
    font-family: poppins;
    font-size: 18px;
}

.wrapper{
    font-family: 'poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.wrapper h1{
    font-family: 'poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
}
.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}
.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
}
.card i{
    margin: 20px;
    color: #000000;
    font-size: large;
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
    
}
.card p{
    color: #6c757d;
    text-align: center;
}
.card:hover i,
.card:hover p{
    color: #fff;
}
.card:hover h2{
    font-weight: 600;
    color: #fafafa;
}
.card:nth-child(1):hover{
    background: linear-gradient(45deg,
    rgba(196, 0, 0, 0.877) 0% ,
    rgba(116, 0, 0, 0.945)100% ) ,
                                    url('rm.jpg');
                                    background-size: cover;
}
.card:nth-child(2):hover{
    background: linear-gradient(45deg,
    rgba(196, 0, 0, 0.877) 0% ,
    rgba(116, 0, 0, 0.945)100% ) ,
                                    url('hu.jpg');
                                    background-size: cover;
}
.card:nth-child(3):hover{
    background: linear-gradient(45deg,
    rgba(196, 0, 0, 0.877) 0% ,
    rgba(116, 0, 0, 0.945)100% ) ,
                                    url('su.jpg');
                                    background-size: cover;
}
.card:nth-child(4):hover{
    background: linear-gradient(45deg,
    rgba(196, 0, 0, 0.877) 0% ,
    rgba(116, 0, 0, 0.945)100% ) ,
                                    url('sp.jpg');
                                    background-size: cover;
}
.card:nth-child(5):hover{
    background: linear-gradient(45deg,
    rgba(196, 0, 0, 0.877) 0% ,
    rgba(116, 0, 0, 0.945)100% ) ,
                                    url('pr.jpg');
                                    background-size: cover;
}
.card:nth-child(6):hover{
    background: linear-gradient(45deg,
                                   rgba(196, 0, 0, 0.877) 0% ,
                                   rgba(116, 0, 0, 0.945)100% ) ,
                                    url('dr.jpg');
                                    background-size: cover;
}
@media(max-width:991px){
    .wrapper{
        padding: 25px;
    }
    .wrapper h1{
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box{
        flex-direction: column;
        width: 100%;
    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }
} 

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.footer-col h4 a{
    text-decoration: none;
    color: #e91e63
}

.end  p{
    text-align: center;
}